
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}
/*Globales*/
.contenedor {
    max-width: 145rem;
    margin: 0 auto;
}

img {
    width: 100%;
}

p {
    font-size: 2rem;
}


/*Header*/
.site-header {
    background-image: url(../img/ingenieriadesoftware-l-.jpg);
    height: 100vh;
    min-height: 60rem;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.site-header::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgb(10, 10, 126);
    
    position: absolute;
    opacity: 0.5;
}

.site-header nav {
    background-color: #042e77;
    opacity: .8;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-header nav a {
    padding: 1rem;
    color: #ffffff;
    font-size: 2rem;
    z-index: 1;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

@media (min-width: 768px) {
    .site-header nav {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .site-header nav a {
        margin: 0;
    }
}

.contenido-header { 
    color: #ffffff;
    position: relative;
    text-align: center;
    line-height: 1.5;
    z-index: 1;
}

.contenido-header h1 {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 3rem;
}

.contenido-header p {
    font-size: 2rem
}

@media (min-width: 768px ) {
    .contenido-header {
        text-align: left;
    }

    .contenido-header h1 {
        font-size: 6rem;
        max-width: 60rem;;
    }

    .contenido-header p {
        max-width: 50rem;
        margin: 0px;
    }
}

.contenido-header a {
    position: relative;
    z-index: 1;
    color: #042e77;
    background-color: #ffffff;
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 10rem;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 2rem;
}
/*Main*/

main {
    background-image: url(../img/wave.svg);
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    margin-top: -109px;
}

@media (min-width: 768px) {
    main {
        margin-top: -420px;
    }
}

main h2 {
    text-align: center;
    color: #ffff;
    padding-top: 61px;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-weight: bold;
}

@media (min-width: 768px) {
    main h2 {
        padding: 33rem;
        margin: 0;
        font-size: 50px;
    }
}

main p {
    background-color: #042e77;
    text-align: center;
    color: #fff;
    padding: 2rem;
    margin-top: -2rem;
    
}

@media (min-width: 768px) {
    main p {
        padding: 5rem;
        margin-top: -35rem;
        font-size: 2rem;
    }
}

.quienes-somos {
    background-color: #042e77;
    margin-top: -2rem;
}

.students {
    margin-top: 2rem;
    height: 55rem;
    text-align: center;
    color: #ffffff;
    border-bottom: .5rem solid #042e77;
}

.students:last-of-type {
    border-bottom: none;
}

.students img {
    padding: 4rem 4rem 0 4rem;
    border-radius: 5rem;
}

@media (min-width: 768px) {
    .students {
        margin: 20px;
        border: none;
    }
    .quienes-somos {
        display: flex;
        justify-content: space-evenly;
    }
    .students img {
        padding: 0;
        border-radius: 0;
        max-width: 49%;
        height: 50%;
        border-radius: 50%;
    }

    .students h3 {
        font-size: 4.5rem;
        margin: 0;
    }

    .students p {
        width: 3rem;
        margin-top: 10px;
    }
}

/*Laboratotio*/
.laboratorio {
    margin-top: 50px;
}

.texto-lab h2{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

.texto-lab p {
    text-align: center;
    margin: 0;
}

.texto-lab a {
    display: block;
    background-color: #042e77;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 1rem;
    
}
@media (min-width: 768px) {
    .contenido-laboratorio {
        display: flex;
        justify-content: space-between;
    }
    .contenido-laboratorio img {
        max-width: 500px;
        height: 50rem;
        border-radius: 50%;
        margin-right: 20rem;
    }

    .texto-lab {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .texto-lab h2{
        font-size: 6rem;
        color: #042e77;
        text-transform: uppercase;
        margin: 0;
        text-align: left;
    }

    .texto-lab p {
        font-size: 2rem;
        color: #1c4caa;
        margin: 0;
        text-align: left;
    }

    .texto-lab a {
        color: #ffffff;
        background-color: #042e77;
        display: table;
        margin-top: 2rem;
        padding: 1rem 5rem;
        text-decoration: none;
        font-size: 2rem;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 2rem;
    }
}

/*Estadiostica*/

.estadistica {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
}

.estadisticas {
    background-color: #042e77;
    text-align: center;
    color: #ffffff;
}

.estadisticas h3 {
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0;
}

@media (min-width: 768px) {
    .estadisticas h3 {
        font-size: 5rem;
        margin: 0;
    }
}

.dato-lab {
    border: 4px solid #fff;
    margin: 28px 15rem;
    border-radius: 50%;
}

@media (min-width: 768px) {
    .datos {
        display: flex;
        justify-content: space-around;
    }
    .dato-lab {
        padding-bottom: 33px;
        margin: 10rem 0;
        height: 37rem;
        width: 37rem;
    }
    .dato-lab h3 {
        font-size: 8rem;
    }
}
/*Ciudadela*/

.contenido-ciudadela {
    margin: 5rem 0;
}

.info-ciudadela h2{
    text-align: center;
    text-transform: uppercase;
    color: #042e77;
    font-weight: bold;
}

.info-ciudadela p {
    text-align: center;
    color: #042e77;
}

.info-ciudadela a{
    display: block;
    background-color: #042e77;
    margin: 2rem 0;
    padding: 1rem 0;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 2rem;
    text-decoration: none;
}



@media (min-width: 768px) {
    .contenido-ciudadela {
        margin: 20rem 10rem 20rem 10rem;
        display: flex;
        justify-content: space-around;
        flex: 0 0 calc(50% - 2rem);
    }
    .contenido-ciudadela img {
        height: 55rem;
        width: 58rem;
        border-radius: 50%;
    }
    .info-ciudadela h2 {
        text-align: left;
        font-size: 7rem;
        margin-top: 10rem;
        margin-bottom: 0;
    }

    .info-ciudadela p {
        text-align: left;
        margin: 0;
        width: 65rem;
    }

    .info-ciudadela a {
        display: inline-block;
        padding: 1rem 20rem;
        border-radius: 3rem;
    }
}

/*Comentarios*/

.comentarios {
    background-image: url(../img/uatf.jpg);
}
.comentarios::before {
    content: '';
    width: 100%;
    height: 45%;
    background-color: rgb(10, 10, 126);
    position: absolute;
    opacity: 0.7;
}

.comentarios img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    z-index: 1;
}

.opinion {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.opinion p {
    color: #ffffff;
    z-index: 1;
    margin: 0 4rem;
    margin-top: 0px;
    text-align: center;
    line-height: 1.5;
    margin-top: 6rem;
}

.opinion h4 {
    color: #ffffff; 
    z-index: 1;
    font-size: 2rem;
}

@media (min-width: 768px) {
    .comentarios {
        background-image: url(../img/uatf.jpg);
        height: 100vh;
        background-size: cover;
        position: relative;
    }

    .comentarios::before {
        height: 100%;        
    }
    .opinion img {
        display: block;
        margin: auto;
        height: 35rem;
        width: 35rem;
    }

    .opinion {
        padding: 15rem 0;
    }

    .opinion p {
        font-size: 2rem;
        max-width: 61rem;
        font-weight:bold;
    }

    .opinion h4 {
        font-size: 4rem;
    }
}

/*Contacto*/
.contacto {
    text-align: center;
    margin-bottom: 9rem;
}

.contacto h2 {
    margin-top: -5rem;
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 0;
}

.btn-submit {
    background-color: #042e77;
    color: #fff;
    padding: 1rem;
    border: none;
    text-transform: uppercase;
    border-radius: 2rem;
}

.contacto form input[type="email"] {
    border-radius: 2rem;
    border:1px solid #042e77;
}

@media (min-width: 768px) {
    .contacto h2 {
        margin-top: -15rem;
        font-size: 5rem;
    }
}

.contacto p {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .contacto p {
        width: 85rem;
        font-size: 2rem;
    }
}

.formulario {
    margin-left: 5rem;
    width: 80%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form input[type="submit"] {
    margin-top: 1rem;
}
@media (min-width: 768px) {
    .formulario {
        max-width: 50%;
        margin: 0 auto;
        margin-top: 4rem;
    }
    .contacto form {
        position: relative;
        width: 40%;
    }
    
    .contacto form input[type="submit"] {
        position: absolute;
        right: 0;
        top: 0;
        padding: 1.3rem 4rem;
        margin: 0;
    }
    
    .contacto form input[type="email"] {
        width: 100%;
        padding: 1rem 0;
    }
}

/*Footer*/

.site-footer {
    display: flex;
    flex-direction: column;
    margin-top: 20rem;
}

.contenido-footer {
    background-color: #000000;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(2, 150px);
    gap: 5rem;
    justify-content: center;
}

@media (min-width: 768px) { 
    .contenido-footer {
        display: flex;
        justify-content: space-evenly;
    }
    .red-social {
        width: 38rem;
        margin-right: 5rem;
    }
}

.contenido-footer h4 {
    margin: 0;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.redes-sociales i{
    font-size: 2.5rem;
    margin-right: 1rem;
}

.copyrigth {
    background-color: black;
    color: #ffffff;
    text-align: center;
}

.copyrigth p{
    margin: 5rem 0;
}